@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    margin-top: 32px;
    text-align:center;
    background-color: #262629;
    margin-top: 120px;
}

.login-container{
    display: flex;
    width: 100;
    justify-content: center;
    
}

.login-form {
    padding: 30px 30px; 
    background-color: #52BE80;
    border-radius: 8px;
    box-shadow: black 8px 8px;
}

h1{
    color: white;
    text-shadow: black 5px 5px;
}

td {
    color: #262629;
 
}

input {
    padding: 3px;
    border-radius: 6px;
    border: none;
    color: white;
    width: 160px;
    background-color: #1B1B1D;
    margin: 2px;
}

.register{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.registerbtn{
    background-color: rgb(238, 238, 238);
    padding: 4px;
    border-radius: 6px;
    border-style: none;
    margin-top: 8px;
}

button:hover{
    background-color:#52BE80;
    color: white;
    
}
p{
    color: white;
}

#invalidinput {
    visibility: hidden;
    
    margin-top: 20px;
    background-color: rgb(131, 9, 9);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
 
    left: 50%;
    bottom: 70px;
    font-size: 14px;
}

#invalidinput.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}